h1,
h2,
h3,
h4,
h5,
h6,
p, 
small, span{
    padding: 0;
    margin: 0;
}
ol, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Arimo', sans-serif;
}